/PixelController/.pio/**
/PixelController/.vscode/c_cpp_properties.json
/PixelController/.vscode/launch.json
/PixelController/.vscode/extensions.json
/PixelController/.vscode/settings.json
/PixelController/.vscode/extensions.json

/PixelController/ImGUI_Emulator/.idea/**
/PixelController/ImGUI_Emulator/cmake-build-*/**

ImGUI_Emulator/.idea/.gitignore
ImGUI_Emulator/.idea/ImGUI_Emulator.iml
ImGUI_Emulator/.idea/misc.xml
ImGUI_Emulator/.idea/modules.xml
ImGUI_Emulator/.idea/vcs.xml
ImGUI_Emulator/cmake-build-debug/CMakeFiles/clion-Debug-log.txt

PixelController/.idea/.gitignore
PixelController/.idea/misc.xml
PixelController/.idea/modules.xml
PixelController/.idea/PixelController.iml
PixelController/.idea/vcs.xml
PixelController/build/**
PixelController/cmake-build-debug/**
PixelController/.vscode/extensions.json
PixelController/.vscode/extensions.json

GardenGlowDesignFrontend/package-lock.json
GardenGlowDesignFrontend/package.json
PixelController/.vscode/extensions.json
GardenGlowDesignFrontend/package-lock.json
PixelController/.vscode/extensions.json
PixelController/cmake-build-debug/.cmake/api/v1/reply/cache-v2-c80e9dc2aec44243b9ab.json
PixelController/cmake-build-debug/.cmake/api/v1/reply/cmakeFiles-v1-5ea68bbda52c4ebc1c65.json
PixelController/cmake-build-debug/.cmake/api/v1/reply/index-2024-11-16T18-40-06-0820.json
PixelController/cmake-build-debug/.cmake/api/v1/reply/target-ConfigurationLib-Debug-c43c925c214a0480a615.json
PixelController/cmake-build-debug/.cmake/api/v1/reply/codemodel-v2-ece948b6a50a8439df2c.json
PixelController/cmake-build-debug/.cmake/api/v1/reply/target-PixelController-Debug-a4a448b41e0fe14e3e0a.json
PixelController/cmake-build-debug/PixelController.exe
PixelController/cmake-build-debug/CMakeFiles/PixelController.dir/src/main.cpp.obj
PixelController/cmake-build-debug/libConfigurationLib.a
